.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: var(--light-gray);
    border-radius: 1rem;
    padding-top: 1rem;
    position: sticky;
    bottom: 0;
    margin: auto;
    align-items: center;
}

.navBarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.navBarImage {
    align-self: center;
}

.navBarLabel {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: medium;
}

.link {
    text-decoration: none;
    color: var(--black);
    align-self: center;
    padding: 0;
}

.link:visited {
    color: var(--black);
}