:root {
    --white: #eee;
    --black: #000;
    --light-green: #B4E88C;
    --light-blue: #9EBAE5;
}

html, body {
    overflow-x: hidden;
    background-color: var(--white);
  }

main {
    padding: 1rem;
  }

li {
    list-style-type: none;
    cursor: pointer;
    margin: 1rem;
    padding: 0;
    color: #000105;
    background-color: var(--light-blue);
    border-radius: 1rem;
    border-bottom: 6px solid #7893bb;
    font-family: "Righteous", sans-serif;
    text-align: center;
    font-size: 1.5rem;
  }

.liHover:hover {
    background-color: #7893bb;
    columns: #fff;
}

.liSelected {
    color: #fff;
    background-color: #000925;
}