.main {
    background-color: var(--light-green);
}

.textContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgba(185, 240, 185,0.5) 50%, rgba(35, 115, 35, 0.5) 100%);
    border-radius: 1rem;
    border-top: 0.5rem solid rgba(236, 251, 236, 0.5);
    border-bottom: 0.5rem solid rgba(16, 78, 16, 0.8);
}
