.podiumContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-end;
}

.firstPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lowerPodium {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--light-blue);
    border-radius: 1rem;
    padding: 2rem;
}