.store {
    display: flex;
    justify-content: center;
}

.coinCount {
    position: absolute;
    top: 5rem;
    font-family: "Righteous", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.foodItems {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 15rem;
    left: 3.2rem;
    column-gap: 0rem;
    row-gap: 2rem;
}

.toyItems {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 38.2rem;
    left: 3.2rem;
    column-gap: 0rem;
    row-gap: 2rem;
}

.backButton {
    padding: 0.5rem;
    border-radius: 2rem;
    width: 18rem;
    margin-top: 12px;
    font-size: 2rem;
    color: var(--black);
    background-color: #F2CE73;
    font-family: "Righteous", sans-serif;
    border: 0;
    position: absolute;
    top: 27.9rem;
    left: 3.8rem;
}

.apple {
    position: absolute;
    left: 3.5rem;
}

.banana {
    position: absolute;
    right: 6.5rem;
    top: -0.5rem;
}

.burger {
    position: absolute;
    top: 6.8rem;
    left: 2.8rem;
}

.cookie {
    position: absolute;
    top: 6.8rem;
    right: 6.5rem;
}

.ball {
    position: absolute;
    top: 0.4rem;
    left: 3rem;
}

.rattle {
    position: absolute;
    top: 0.3rem;
    right: 6.3rem;
}

.blanket {
    position: absolute;
    top: 6.7rem;
    left: 2.8rem;
}

.rubikscube {
    position: absolute;
    top: 0.3rem;
    right: 6.3rem;
}