.store {
    display: flex;
    justify-content: center;
}

.foodItems {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    top: 17rem;
    gap: 3rem;
}