.coinCount {
    position: absolute;
    right: 1rem;
    font-family: "Righteous", sans-serif;
}

.buttons {
    display: flex;
    gap: 4rem;
    position: absolute;
    top: 22rem;
    left: 2.3rem;
}

.statusBars {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 5rem;
    left: 1.5rem;
}

.storeButton {
    position: absolute;
    top: 14rem;
    left: 8rem;
}