:root {
    --white: #FFFFFF;
    --black: #000;
    --light-green: #B4E88C;
    --light-blue: #9EBAE5;
    --light-gray: #c5c5c5;
    --light-yellow: #F3CD70;
    --light-pink: #F3D9D9;
    --medium-green: #429600;
    --gold: #ED9F26;

}

html, body {
    overflow-x: hidden;
    background-color: var(--white);
  }

main {
    padding: 1rem;
  }

li {
    list-style-type: none;
    cursor: pointer;
    margin: 1rem;
    width: 100%;
    padding: 0.5rem;
    color: #000105;
    background-color: var(--light-blue);
    border-radius: 1rem;
    border-bottom: 6px solid #7893bb;
    font-family: "Righteous", sans-serif;
    text-align: center;
    font-size: 1.5rem;
  }

.liHover:hover {
    background-color: #7893bb;
    columns: #fff;
}

.liSelected {
    color: #fff;
    background-color: #000925;
}

.homePageCard {
  margin-left: -5%;
  margin-top: 48%;
}

.searchBar {
  margin-left: -5%;
  margin-bottom: -48%;
}

.logInAndSettings {
  margin-left: 63%;
  margin-right: -5%;
  margin-top: 8%;
}

.dateIndex {
  font-family: 'Righteous';
  margin-bottom: -18%;
  margin-top: 8%;
}

.searchBarInfo {
  margin-left: -5%;
  margin-top: -0.1%;
}

.logInSettingsInfo {
  margin-left: 63%;
  margin-right: -5%;
  padding-left: 19px;
  padding-bottom: -10px;
  margin-top: 8%;
}

.infoCard {
  margin-left: -5%;
}

.logInSettingsDepots {
  margin-left: 64%;
  margin-right: -5%;
  padding-left: 9px;
  margin-top: 8%;
}

.searchBarDepots {
  margin-left: -5%;
}

.depotsCard {
  margin-left: -5%;
}

.logInSettingsYourDepots {
  margin-left: 50%;
  margin-right: -5%;
  padding-left: 65px;
  margin-top: 8%;
}

.searchBarYourDepots {
  margin-left: -5%;
}

.yourDepotsCard {
  margin-left: -5%;
}

.becDepotPage {
  font-family: 'Righteous';
  text-decoration: underline;
  margin-top: -200px;
  margin-left: 15%;
}

.depotsNavBar {
  margin-top: 165px;
}